.image{
  height: 300px;
  width: 600px;
}

.itemname{
  height: 300px;
  width: 600px;
}

.titledesign{
  width: 600px
}

.postinginfo{
  width: 168px
}

.contents{
  width: 1250px;
  height: 300px;
}